.Players-page,
.Update--directory {
    ul {
        padding: 0;
        list-style: none;
    }
    
    .PlayerCard {
        width: 75%;
        margin-right: auto;
        margin-left: auto;
        padding-top: 10px;
    }
}

.PlayersUserPage-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin-bottom: 15px;
    }
}

.PlayerCard {
    .Button--important {
        background-color: green;
        color: #fff;
    }

    .PlayerCard-seperator {
        color: #6c757d !important
    }

    .PlayerCard-update {
        margin: auto 10px auto auto;
    }

    .PlayerCard-header {
        display: flex;
        color: #fff;
        border-radius: 10px 10px 0 0;

        .PlayerCard-info {
            display: inline-block;

            .PlayerCard-name {
                font-size: 32px;
                padding: 8px 8px 0px 20px;
                display: inline-block;
            }

           
            .PlayerCard-data-img {
                display: inline-block;
                @media @phone {
                    width: 140px;
                }

                img {
                    width: 15%;
                    @media @phone {
                        width: 30%;
                        margin-left: 22px;
                    }
                }
            }

            .PlayerCard-subheader {
                padding: 0px 8px 8px 20px;
                font-size: 16px;

                div {
                    display: inline-block;
                    padding-right: 16px;
                }

            }
        }
    }

    .PlayerCard-attributes {
        border: 1px solid #ededed;
        border-radius: 0 0 10px 10px;

        hr {
            margin-bottom: 0;
        }

        .PlayerCard-batter,
        .PlayerCard-bowler {
            .PlayerCard-attributes-header {
                div {
                    display: inline-block;
                    padding: 8px;
                }
            }
        }

        .PlayerCard-batter-attributes {
            display: grid;
            grid-template-columns: repeat(9, minmax(0, 1fr));

            .PlayerCard-skill {
                text-align: center;
                border: 1px solid #ededed;
            }

            .PlayerCard-skill-update input {
                .PlayerCard-skill();

                width: 100%;
            }

            .PlayerCard-skill-label {
                .PlayerCard-skill();
                background-color: #ededed;
            }
        }

        .PlayerCard-bowler-attributes {
            .PlayerCard-batter-attributes();

            grid-template-columns: repeat(8, auto);
        }
    }
}

.Button.PlayersCreate {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.CreatePlayers-Players {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    h2 {
        text-align: center;
    }


    div.CreatePlayer {
        border: 1px solid lightgray;
        border-radius: 25px 25px 0 0;
        margin: auto;

        legend {
            margin-right: auto;
            margin-left: auto;
            background-color: lightgray;
            width: 100%;
        }

        fieldset.identity legend {
            border-radius: 66px 66px 0 0;
        }

        fieldset ul {
            list-style: none;
            padding: 0;
        }

        input {
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        }

        span.Select {
            width: 100%;

            select {
                width: 100%;
                margin-left: -13px;
            }
        }
    }

    div.Submit {
        padding-top: 10px;

        button {
            margin: auto;
        }
    }
}

.PlayerUpdateModal {
    .Modal-header {
        padding: 10px;
    }

    .Modal-body {
        padding-top: 0px;

        @media @phone {
           padding: 0; 
        }
    }

    .PlayerUpdate--tpebanked {
        font-size: 25px;
        text-align: center;
        padding: 5px;
        margin: 0px -30px
    }

    .PlayerUpdate--info {
        text-align: center;
    }

    .PlayerUpdate--skills {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr 1fr;
    }

    .PlayerUpdate--header {
        background-color: #111;
        color: #fff;
    }

    .PlayerUpdate--item {
        padding: 2.5px;
    }

    .PlayerUpdate--center {
        text-align: center;
    }

    .PlayerUpdate--updated {
        color: #000;
    }

    .PlayerUpdate--cost {
        color: #28a745
    }

    .PlayerUpdate--warning {
        color: #d66;
    }

    .PlayerUpdate--buttons {
        margin: auto;

        .PlayerUpdate--decrease {
            background-color: #ddd;    
        }

        .PlayerUpdate--increase {
            background-color: lightgray;    
        }

    }
}

.UserDirectoryList {
    .PlayerCard {
        padding: 10px 0;
    }
}

.Update {
    .Modal-body .FormControl {
        background-color: #ddd;
    }
}

.UpdateEditCardItem {
    padding: 5px;
}

.UpdateEditCard {
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;

    border-radius: 10px;

    .Button-group {
        padding: 5px;

        .Button {
            margin-right: 5px;
        }
    }

    .UpdateEditCard-info,
    .UpdateEditCard-meta {
        display: flex;
        padding: 5px;
    }

    .UpdateEditCard-item  {
        margin: 2px 0;
        border-right: white 1px solid;
        padding: 0 5px;

        input {
            width: 75%;
        }
    }

    .UpdateEditCard-tpe {
        width: 50px;
    }
}

.UpdatesUserPage {
    .UpdatesUserPage-week {
       color: #808080;
       font-weight: bold; 
       margin-bottom: 10px;
       position: relative;
       z-index: 1;
    }
}

.UpdateGroupCard,
.UpdateGroupCardOwn {
    display: grid;

    legend {
        color: #fff;
        margin-bottom: 0px;
    }

    legend:first-of-type {
        border-top-left-radius: 5px;
    }

    legend:last-of-type {
        border-top-right-radius: 5px;
    }

    div {
        padding-top: 2px;
        padding: 5px;
        border-bottom: #ccc 1px solid;
    }

    .UpdateGroupCard-center {
        text-align: center;
    }

    .UpdateGroupCard-leftpad {
    }

    .UpdateGroupCard-end {
        text-align: end;
    }

    .UpdateGroupCard-total,
    .UpdateGroupCard-totaltext {
        font-weight: bold;
    }
}

.UpdateGroupCardOwn {
    grid-template-columns: 1fr .5fr .5fr 2fr 1fr 1fr;
}

.UpdateGroupCard {
    grid-template-columns: 1fr .5fr .5fr 2fr 1fr;
}